*,
*::before,
*::after {
	box-sizing: inherit;
	color-scheme: light dark;
}

body {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
}

input {
	font-family: inherit;
}