form {
	display: flex;
	align-items: center;
	padding: .75rem;
	gap: 1rem;
	background: light-dark(white, var(--clr-main-700));
	border-radius: 1rem;

	input {
		flex-grow: 1;
		border: transparent;
		background: transparent;
		line-height: 2.75;
		text-indent: .5rem;
		border-radius: .5rem;

		&::placeholder {
			color: light-dark(var(--clr-main-400), white);
		}

		&:focus {
			outline: dotted medium light-dark(white, var(--clr-main-400));
		}
	}

	button {
		background-color: light-dark(white, var(--clr-main-400));
		padding: .875rem 1rem;
		font-weight: 700;
		font-size: 14px;
		border-radius: 10px;
		border: transparent;
	}
}