@import url(/src/styles/vars.css);
@import url(/src/styles/reset.css);
@import url(/src/styles/utils.css);
@import url(/src/styles/search-form.css);
@import url(/src/styles/user-card.css);

body {
	font-family: "Space Mono", monospace;
	margin: 0;
	background: light-dark(white, var(--clr-main-900));
}

main {
	display: grid;
	gap: 1rem;
	padding: 1.5rem;
}

.search-heading {
	font-size: 26px;
	text-decoration: none;
	color: light-dark(var(--clr-main-900), var(--clr-main-100));
}